.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
#*.cab
*.dll
*.lnk
*.msi
*.msix
*.msm
*.msp
*.psproj
*.psprojs
*.TempPoint.*
*.Export.*
*.RestorePoint.*
*.Run.ps1
*.Package.ps1
CustomMenu.inf
*.zip
ChangeLog_Full.md
/Optimize-Offline_*
/OfflineTemp*
/Src/GUI/image_info.json
/ConsoleOut.txt
